@import url("reset.css");
/* main colors 

    color: rgb(0,169,224);
    color: rgb(247,247,247);
    color: rgb(255,255,255);
    color: rgb(58,58,58);
    color: rgb(253,180,66);

*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 30px;
  background-color: rgb(0, 169, 224);
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: rgb(253, 180, 66);
  border-radius: 50%;
}
.header__icon {
  max-width: 200px;
  height: auto;
}
.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__name {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.header__motto {
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.container {
  flex: 1;
  background-color: #F7F7F7;
}

.bikes {
  flex: 1;
  margin: 20px 50px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.bike {
  display: flex;
  flex-direction: row;
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
  gap: 15px;
  color: #3A3A3A;
  background-color: #FFFFFF;
}
.bike__img {
  width: 300px;
  height: 250px;
  position: relative;
}
.bike__img-item {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.bike__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 20px;
  padding: 20px;
}
.bike__title {
  font-weight: 700;
}

.button-container {
  text-align: center;
  margin: 15px;
}
.button-container > *:not(:last-child) {
  margin-right: 10px;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FDB442;
  color: #FFFFFF;
}
button:hover {
  background-color: #E29C38;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
button:active {
  background-color: #BF802E;
  transform: scale(0.95);
}
button:disabled {
  background-color: #F7F7F7;
  color: #B0B0B0;
  cursor: not-allowed;
  box-shadow: none;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(0, 169, 224);
  color: rgb(255, 255, 255);
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.footer__name {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__social-icons {
  display: flex;
  gap: 15px;
}

.search * {
  margin: 10px;
}
.search__form {
  color: #3A3A3A;
}
.search__form input {
  padding: 10px;
  line-height: 20px;
  border-radius: 5px;
  color: #3A3A3A;
}

.message__container {
  text-align: center;
  padding: 2rem;
  font-family: "Helvetica", sans-serif;
}
.message__container h1 {
  font-size: 2rem;
  color: #f44e3b;
}
.message__container p {
  font-size: 1rem;
  color: #333;
}
.message__container .back-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fdd09b;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
.message__container .back-button:hover {
  background-color: #e0c28e;
}